* {
	margin: 0px;
	padding: 0px;
}

.unvisited {
	background-color: black;
	/* border: solid 1px black; */
}

td {
	width: 10px;
	height: 10px;
}

.visited {
	background-color: #5cfaff;
	/* border: solid 1px black; */
}

.shortpath {
	background-color: red;
	/* border: solid 1px black; */
}
